HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.exe
*.dll
*.ipch

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
bins/CloudSSXvm/.vs/
bins/CloudSSXvm/x64/
bins/CloudSSXvm/CloudSSXvm/Debug
bins/CloudSSXvm/CloudSSXvm/x64
bins/CloudSSXvm/VMController/x64
bins/CloudSSXvm/lib
